body {
    margin: 0 auto;
    background-color: rgb(252, 252, 252);
}
main{
    background-color: rgb(163, 52, 171);
    text-align: center;
    width: 800px;
    margin: 0 auto;
    padding: 30px 0px;
}
main>h1{
    padding-top: 25px;
}
.sobre-mim{
    padding: 5px 50px;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    border: 3px solid black;
}
.detalhes>span {
    display: block;
}
.detalhes{
    margin-top: 30px;
    margin-bottom: 30px;
}
figure{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 30px;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
button{
    width: 250px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 10px;
}